.itemTable{
     padding: 8px;
}

.inviteTable{
    padding: 8px;
}

#invitee-item-button{
    margin:8px;
}

#add-item-button{
    margin:8px;
}

.NavButtons{
    margin: 4px 8px 8px 8px;
}
#email{
    float: right;
}