#wrap{
    border-style: solid;
    border-color: blueviolet;
    float:left;
    position:relative;
    margin-bottom:1px;
    padding-left:5px;
    padding-right:5px;
}
#photo{
    border-style: solid;
    border-color: #e22444;
    float:left;
    position:relative;
    width: 225px;
    height: 300px;
    margin-left:0px;
}

#eventPhoto{
    width: 200px;
    height: 200px;
}

#info{
    border-style: solid;
    border-color: green;
    float:left;
    position:relative;
    width: 459px;
    height: 300px;
    margin-left:0px;
    padding-left:5px;
    padding-top:0px;
    font-size:1.18em;
}

#guests{
    border-style: solid;
    border-color: yellow;
    width: 350px;
    float:left;
    position:relative;
    overflow: auto;
    padding-top:0px;
    padding-left:0px;
    margin-top:0px;
}
.element::-webkit-scrollbar { width: 0 !important }

#eventContent{
   border-style:solid;
   border-color:red;
   height:250px;
   width:69%;
   float:left;
   position:relative;

}

#bringing{
    border-style: solid;
    border-color: deeppink;
    width:350px;
    float:left;
    position:relative;
    padding-left: 0px;
    padding-top: 0px;
}


#rsvp_container{
   border-style: solid;
    border-color: greenyellow;
    float:left;
    position:relative;
    width:446px;
    height:300px;
}

#rsvp_button{
    margin:5px;
    padding: 5px;
    float:left;
    position:relative;
}
#meh{

    font-size: 0.9em;
    text-align: auto;
    font-weight:bold;
    background: #1a8cff;
    color: #ffffff;
    float:left;
    position:relative;
    height: 35px;
    width: 145px;
}
#itemList{
    border-syle:solid;
    border-color:red;
    position:relative;
    float:left;
    width: 45%;
    height:100px;
}
