{% extends "Base.html" %}
{% load staticfiles %}

{% block body_block %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
    <link rel="stylesheet" href="{% static 'css/createEvent.css' %}"/>
</head>
<body>

<script type="text/html" id="item-template">
    <div id="item-__prefix__">
        {{ itemCreationFormset.empty_form }}
    </div>
</script>

<script type="text/html" id="invitee-template">
    <div id="invitee-__prefix__">
        {{ inviteToEventFormset.empty_form }}
    </div>
</script>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#EventInfo">Event Info</a></li>
    <li><a data-toggle="tab" href="#inviteList">Invite List</a></li>
    <li><a data-toggle="tab" href="#itemList">Item List</a></li>
  </ul>


<form enctype="multipart/form-data" method="POST">
    <div class="tab-content">
        {% csrf_token %}

        <!-- First Tab -->
        <div id="EventInfo" class="tab-pane fade in active">
            <table class="table">
                {{ eventForm.as_table }}
            </table>
            <br/>
            <div id="NavButtons">
                <a class="btn btn-primary btnNext">Next</a>
            </div>
        </div>

        <!-- Second Tab -->
        <div id="inviteList" class="tab-pane fade">
            <h3>Who would you like to invite?</h3>
            <!-- InviteList management_form -->
            {{ inviteToEventFormset.management_form }}
            <div id="invitees-form-container">
                {% for invitee in inviteToEventFormset %}
                    <div id="invitee-{{ forloop.counter0 }}" class="inviteTable">
                        {{ invitee.as_table }}
                    </div>
                {% endfor %}
            </div>

            <div class="NavButtons">
                <a class="btn btn-primary btnPrevious">Previous</a>
                <a href="#" id="invitee-item-button" class="btn btn-info add-invitee">Add Invitee</a>
                <a class="btn btn-primary btnNext">Next</a>
            </div>
        </div>

        <!-- Third Tab -->
        <div id="itemList" class="tab-pane fade">
            <!-- ItemList management_form -->
            {{ itemCreationFormset.management_form }}
            <h3>What would you like people to bring?</h3>
            <div id="items-form-container" class="itemTable">
                {% for items in itemCreationFormset %}
                    <div id="item-{{ forloop.counter0 }}" class="itemTable ">
                        {{ items }}
                    </div>
                {% endfor %}
            </div>

            <div class="NavButtons">
                <a class="btn btn-primary btnPrevious">Previous</a>
                <a href="#" id="add-item-button" class="btn btn-info add-item">Add Item</a>
                <br/>
                <input id="submitButton" type="submit" class="btn btn-warning" value="Create Event">
            </div>

        <div id="errorDiv">
            <ul id="missingUL">

            </ul>
        </div>


    </div>
</form>





<script>
$(document).ready(function() {
    $('.add-item').click(function(ev) {
        ev.preventDefault();
        var count = $('#items-form-container').children().length;
        var tmplMarkup = $('#item-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);

        $('div#items-form-container').append(compiledTmpl);
        $('div#items-form-container [id^=item-]').addClass("itemTable");

        // update form count
        $('#id_item-TOTAL_FORMS').attr('value', count+1);
    });
});

$(document).ready(function() {
    $('.add-invitee').click(function(ev) {
        ev.preventDefault();
        var count = $('#invitees-form-container').children().length;
        var tmplMarkup = $('#invitee-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);

        $('div#invitees-form-container').append(compiledTmpl);
        $('div#invitees-form-container [id^=invitee-]').addClass("inviteTable");

        // update form count
        $('#id_invitee-TOTAL_FORMS').attr('value', count+1);

    });
});

  $(function () {
    $('#myTab a:last').tab('show')
  })



$('.btnNext').click(function(){
  $('.nav-tabs > .active').next('li').find('a').trigger('click');
});

$('.btnPrevious').click(function(){
  $('.nav-tabs > .active').prev('li').find('a').trigger('click');
});

function isEmpty( el ){
    return $.trim($(el).val()) == '';
}

$('#submitButton').on("click",function() {
    emptyErrorDiv();
    fillErrorDiv();
});


function emptyErrorDiv(){
    $("#missingUL").empty();
}

function fillErrorDiv(){

    $( "#EventInfo input,textarea" ).each(function( index ) {
        if ($(this).prop('required') && isEmpty(this))
            $("#errorDiv ul").append('<li>Event '
                + $(this).attr('name') +' is required </li>');
    });

    if (isEmpty($('#invitee-0')))
         $("#errorDiv ul").append('<li>You have to invite at least one person </li>');

}

</script>
    {% endblock %}

</body>
</html>