{% extends "Base.html" %}
{% load staticfiles %}

{% block body_block %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/eventDisplay.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- http://127.0.0.1:8000/event/11112222333300000000 -->
    {%if user.is_authenticated%}
        <p>User ID: {{userId}}</p>
        <p>Event ID: {{event}}</p>
    {%endif%}
    {%if not user.is_authenticated%}
   <div class="block">
       <div class="centered">
           {%for event in event%}
                <div class="picture_position">
                    <a targe="_blank" href="{{event.eventPhoto.url}}">
                        <img src ="{{event.eventPhoto.url}}">
                    </a>
               </div>
                <p class="">{{atendee}}</p>
           {%endfor%}

       </div>
   </div>

    {%endif%}
</head>
<body>

</body>
</html>

{% endblock %}