{% extends "Base.html" %}
{% load staticfiles %}

{% block body_block %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/eventDisplay.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- http://127.0.0.1:8000/event/11112222333300000000 -->
    {%if user.is_authenticated%}
        <p>User ID: {{userId}}</p>
        <p>Event ID: {{event}}</p>
    {%endif%}
    {%if not user.is_authenticated%}
   <div class="block">
       <div class="centered">
           {%for event in event%}
                <div class="picture_position">
                    <a target="_blank" href="{{event.eventPhoto.url}}">
                        <img src ="{{event.eventPhoto.url}}">
                    </a>
               </div>
            <p class="welcome_text_font">Howdy, {{attendee}}</p>
           <br>
           <div class="page_font">
               <p>You have been invited to {{event.name}}</p>
               <p>You are currently {{rsvpStatus}}</p>
               <p>Location: <a href="https://www.google.com/maps/search/?api=1&{{address}}" target="_blank">{{event.location}}</a></p>
               <p>Date: {{event.date}} </p>
               <p>Time: {{event.time}}</p>
               <p>Description:</p>
           </div>
           <p class="description_text">{{event.description}}</p>
           <p class="page_font"> Would you like to attend?</p>
           {%endfor%}
           <div class="rsvp_button"><input type="submit" value="ATTENDING" class="btn btn-info"></div>
            <div class="rsvp_button"><input type="submit" value="MAYBE" class="btn btn-info"></div>
           <div class="rsvp_button"><input type="submit" value="NOTATTENDING" class="btn btn-info"></div>

       </div>
   </div>

    {%endif%}
</head>
<body>

</body>
</html>

{% endblock %}