{% extends "Base.html" %}
{% load staticfiles %}

{% block body_block %}
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your event</title>
    <link rel="stylesheet" href="{% static 'css/eventHomePage.css' %}"/>
</head>
<body>



<h3>Your Event</h3>
<form enctype="multipart/form-data" method="POST" id="edit">
    {% csrf_token %}
    <div class="container" id="wrap1">
        <div id="photo" class="container" style="float:left">
                {% if currentEvent.eventPhoto %}
                <div >
                    <a target="_blank" href="{{currentEvent.eventPhoto.url}}">
                        <img class ="img-fluid" id = "eventPhoto" src ="{{currentEvent.eventPhoto.url}}">
                    </a>
                </div>
                {% endif %}
            <p>{{ form.eventPhoto }}</p>


        </div>
        <div id="info" class="container" style="float:left">
            <h2>{{ form.name }}</h2>
            <p id="location">Location: {{ form.location }}</p>
            <p id="date">Date: {{ form.date }}</p>
            <p id="time">Time: {{ form.time }}</p>
            <p id="category">Category: {{ form.eventCategory }}</p>
            <p>{{ form.type }}</p>
        </div>
        <div id="buttonStuff" style="float:left">
            <h3>Save Your Changes</h3>
            <input type="submit" value="Save Changes" class="btn btn-info">
        </div>
    </div>


    <div class="container" id="wrap" style="position: relative">
        <div class="container" id="eventContent" style="float:left">
            <h4>Description</h4>
            <p id="description">{{ form.description }}</p>
        </div>
        <div id = "guests" style="overflow: scroll; float: right">
            <h2>Who's Going</h2>

                {% for guest in guests %}
                    <div class="media">
                        <!---<img class="d-flex mr-3" data-src="holder.js/64x64?theme=sky" alt="Generic placeholder image">-->
                        <div class="media-body">
                            <h5 class="mt-0">{{guest.attendeeName}}</h5>
                        </div>

                    </div>

                {%  endfor %}
            <h2>Who's invited</h2>
                {% for attendee in invited%}
                    <div class="media">
                        <!---<img class="d-flex mr-3" data-src="holder.js/64x64?theme=sky" alt="Generic placeholder image">-->
                        <div class="media-body">
                            <h5 class="mt-0">{{attendee}}</h5>
                        </div>

                    </div>

                {%  endfor %}
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus"></span> Invite More People
            </button>
        </div>
        <div id ="bringing">
            <h4>Your Items Requested</h4>
            {% for item in items %}
                <p>{{ item.name }} {{ item.amount }}</p>
            {% endfor %}

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <span class="glyphicon glyphicon-plus"></span> Add Item
            </button>

            <!-- Modal -->
            <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div id="items-form-container" class="itemTable">
                         <!-- {{newItem.as_p}}-->

                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Save Changes" class="btn btn-info">
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>

    <div id="footer"><p></p></div>

</form>
{% endblock %}
</body>