{% extends "Base.html" %}
{% load staticfiles %}

{% block body_block %}
{% if user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'css/userLogin.css' %}"/>

<body>
<!--<hr class="">-->
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
             <h1 class="">Welcome,{{currentUser}}!</h1>

            <a href="{% url 'CreateEvent' %}" class = "btn btn-success" role="button">Create an Event!</a>
            <button type="button" class="btn btn-info">View Upcoming Events!</button>
<br>
        </div>
    </div>
    </div>
  <br>

        <!--/col-3-->
      <!-- <div class="col-sm-9" style="" contenteditable="false">-->

            <div class="panel panel-default">
               <div class="panel-heading"><strong>My Events</strong></div>
                <div class="panel-body">
                    {% for event in allEvents %}
                    <div class="card-group">

                    <div class="card" style="width: 20rem;">
                         <img class="card-img-top" src="..." alt="Card image cap">
                     <div class="card-block">
                         <h4 class="card-title">{{event}}</h4>
                         <h6 class="card-subtitle mb-2 text-muted"><strong>Host:</strong>{{currentUser}}</h6>
                            <p class="card-text">Date:{{event.date}}    Time:{{event.time}}</p>
                         <a href="#" class="btn btn-primary">More Info</a>

  </div>
</div>          {% endfor %}
                    </div>

                </div>

            </div>
                {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Attending Events</strong></div>
                <div class="panel-body"> This is where the events im attending will go

                </div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false"><strong>Public Events</strong></div>
                <div class="panel-body">Public Event Feed</div>

    </div>
           <div class="panel panel-default">
               <div class="panel-heading"><strong>Private Events</strong></div>
                <div class="panel-body"> Private Event Feed

                </div>
</div>

        <!--</div>-->

<!--</div>-->
</body>

{% endblock %}