{% extends "Base.html" %}
{% load staticfiles %}

{% block body_block %}
{% if user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'css/newIndex.css' %}"/>

<body>
<!--<hr class="">-->
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
             <h1 class="">Welcome,{{currentUser}}!</h1>

            <a href="{% url 'CreateEvent' %}" class = "btn btn-success" role="button">Create an Event!</a>
            <button type="button" class="btn btn-info">View Upcoming Events!</button>
<br>
        </div>
    </div>
    </div>
  <br>

        <!--/col-3-->
      <!-- <div class="col-sm-9" style="" contenteditable="false">-->
<div class="panel panel-default">
    <div class="panel-heading"><strong>My Events</strong></div>
        <div class="panel-body">
            <div class='container'>

             <div class='single-item'>


        {% for event in allEvents %}

<!---------ONE CARD------------------------>
    <div>


    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">

                <div class="card card-inverse card-info">
                    {% if event.eventPhoto %}
                    <img class="card-img-top" src="{{event.eventPhoto.url}}">
                    {% endif %}
                    <div class="card-block">
                        <h4 class="card-title">{{event}}</h4>
                        <div class="card-text">{{currentUser}}</div>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>Host:</strong>{{currentUser}}</h6>
                            <p class="card-text">Date:{{event.date}}</p>
                            <p class="card-text">Time:{{event.time}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'CreateEvent' %}" class = "btn btn-info" role="button">View Event!</a>
                    </div>
                </div>
            </div>


    </div>
<!---------ONE CARD---------------->





   <!-- <div><h3>DUDE</h3></div>-->

   <!-- <div><h3>WHERES</h3></div>-->



   <!-- <div><h3>MY</h3></div>-->



  <!--  <div><h3>CAR!</h3></div>-->



   <!-- <div><h3>:)</h3></div>-->

{% endfor %}
  </div>

</div>
        </div>
    </div>

{% endif %}


    <div class="panel panel-default">
        <div class="panel-heading"><strong>Public Events</strong></div>
        <div class="panel-body">
        </div>
    </div>

        <div class="panel panel-default">
            <div class="panel-heading"><strong>Private Events</strong></div>
        <div class="panel-body">
        </div>
    </div>

<script src="{% static 'scripts/slick.min.js' %}"></script>
<script>
    var $mainButton = $(".main-button"),
    $closeButton = $(".close-button"),
    $buttonWrapper = $(".button-wrapper"),
    $ripple = $(".ripple"),
    $layer = $(".layered-content");

$mainButton.on("click", function(){
    $ripple.addClass("rippling");
    $buttonWrapper.addClass("clicked").delay(1500).queue(function(){
        $layer.addClass("active");
    });
});

$closeButton.on("click", function(){
    $buttonWrapper.removeClass("clicked");
    $ripple.removeClass("rippling");
    $layer.removeClass("active");
});

$(document).ready(function(){

    $(".single-item").slick({

        infinite: false,
        slidesToShow: 1,

        dots : false,
        autoplaySpeed: 2000


});



});

</script>






</body>

{% endblock %}