{% extends "Base.html" %}
{% load staticfiles %}

{% block body_block %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{% static 'css/newIndex.css' %}"/>


</head>
<body>

<div class='container'>
  <div class='single-item'>



    <div>


        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
    {% for event in publicEvents %}

                <div class="card card-inverse card-info">












                    {% if event.eventPhoto %}
                       <img class="card-img-top" src="{{event.eventPhoto.url}}">
                    {% else %}
                        {% if event.eventCategory == 0 %}
                            <img class="card-img-top" src="{{media_url}}nothingEventGeneric.jpg">
                        {% elif event.eventCategory == 1 %}
                            <img class="card-img-top" src="{{media_url}}partyEventGeneric.jpg">
                        {% elif event.eventCategory == 2 %}
                            <img class="card-img-top" src="{{media_url}}educationEventGeneric.jpg">
                        {% elif event.eventCategory == 3 %}
                            <img class="card-img-top" src="{{media_url}}musicEventGeneric.jpg">
                        {% elif event.eventCategory == 4 %}
                            <img class="card-img-top" src="{{media_url}}fooddrinkEventGeneric.jpg">
                        {% elif event.eventCategory == 5 %}
                            <img class="card-img-top" src="{{media_url}}moviesEventGeneric.jpg">
                        {% elif event.eventCategory == 6 %}
                            <img class="card-img-top" src="{{media_url}}artEventGeneric.jpg">
                        {% elif event.eventCategory == 7 %}
                            <img class="card-img-top" src="{{media_url}}technologyEventGeneric.jpg">
                        {% elif event.eventCategory == 8 %}
                            <img class="card-img-top" src="{{media_url}}healthEventGeneric.jpg">
                        {% elif event.eventCategory == 9 %}
                            <img class="card-img-top" src="{{media_url}}outdoorsEventGeneric.jpg">
                        {% elif event.eventCategory == 10 %}
                            <img class="card-img-top" src="{{media_url}}sportsEventGeneric.jpg">
                        {% elif event.eventCategory == None %}
                            <img class="card-img-top" src="{{media_url}}noneEventGeneric.jpg">
                        {% endif %}
                    {% endif %}
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <!--<img src=}" class="profile-avatar" alt="">-->
                        </figure>
                        <h4 class="card-title">{{event.name}}</h4>
                        <div class="card-text">

                            <p><b>Date : </b>{{event.date}}</p>
                            <p><b>Time : </b>{{event.time}}</p>
                        </div>
                    </div>
                    <div class="card-footer">

                        <a href="event/{{event.id}}" class="btn btn-info btn-sm">View Event </a>
                    </div>
                </div>
            </div>

        {% if forloop.counter|divisibleby:4  and forloop.counter != publicEvents.count%}
        </div>
        <div>
        {% endif %}
         <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
    {% endfor %}
         </div>

    </div>





  </div>
</div>


<script src="{% static 'scripts/slick.min.js' %}"></script>
<script>
    var $mainButton = $(".main-button"),
    $closeButton = $(".close-button"),
    $buttonWrapper = $(".button-wrapper"),
    $ripple = $(".ripple"),
    $layer = $(".layered-content");

$mainButton.on("click", function(){
    $ripple.addClass("rippling");
    $buttonWrapper.addClass("clicked").delay(1500).queue(function(){
        $layer.addClass("active");
    });
});

$closeButton.on("click", function(){
    $buttonWrapper.removeClass("clicked");
    $ripple.removeClass("rippling");
    $layer.removeClass("active");
});

$(document).ready(function(){

    $(".single-item").slick({

        infinite: true,
        slidesToShow: 1,

        dots : false,
        autoplaySpeed: 2000


});



});

</script>

</body>

</html>

{% endblock %}