{% extends "Base.html" %}
{% load staticfiles %}

{% block body_block %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{% static 'css/newIndex.css' %}"/>
    <link rel="stylesheet" href="css/newIndex.css">


</head>
<body>

<div class='container'>
  <div class='single-item'>



    <div>





    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://github.com/HectorSA/Eventure/blob/master/Eventure/Templates/media/laloPizzaParty.jpg?raw=true">
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <img src="https://github.com/HectorSA/Eventure/blob/master/Eventure/media/event_photos/HappyMe_KzeMuMx.jpg?raw=true" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title">Lalo Pizza Party</h4>
                        <div class="card-text">
                            Going to be wilddd mannn!!!
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info btn-sm">Show event</button>
                    </div>
                </div>
            </div>

















    </div>






    <div><h3>2</h3></div>



    <div><h3>3</h3></div>



    <div><h3>4</h3></div>



    <div><h3>5</h3></div>



    <div><h3>6</h3></div>



  </div>
</div>


<script src="{% static 'scripts/slick.min.js' %}"></script>
<script>
    var $mainButton = $(".main-button"),
    $closeButton = $(".close-button"),
    $buttonWrapper = $(".button-wrapper"),
    $ripple = $(".ripple"),
    $layer = $(".layered-content");

$mainButton.on("click", function(){
    $ripple.addClass("rippling");
    $buttonWrapper.addClass("clicked").delay(1500).queue(function(){
        $layer.addClass("active");
    });
});

$closeButton.on("click", function(){
    $buttonWrapper.removeClass("clicked");
    $ripple.removeClass("rippling");
    $layer.removeClass("active");
});

$(document).ready(function(){

    $(".single-item").slick({

        infinite: true,
        slidesToShow: 1,

        dots : false,
        autoplaySpeed: 2000


});



});

</script>

</body>

</html>

{% endblock %}